body {
  font-family: "Roboto", sans-serif !important;
  color: white;
}

.App {
  max-width: 1000px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
  background: rgb(2, 0, 36);
  background: aqua;
  padding: 80px;
  color: navy;
}

header h1 {
  font-weight: 700;
}

.content-bx {
  padding: 80px 0;
  position: relative;
  background-color: rgb(0, 102, 255);
}

.content-bx .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
  border: aqua solid 1px;
}

.content-bx .nav.nav-pills .nav-item {
  width: 33.33333%;
}

.content-bx .nav.nav-pills .nav-item .nav-link {
  background: transparent;
  position: relative;
  text-align: center;
  color: white;
  z-index: 0;
}

.content-bx .nav.nav-pills .nav-link.active {
  border-radius: 0;
  color: navy;
  font-weight: 700;
  z-index: 1;
}

.content-bx .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0, 0, 128);
  background: aqua;
  transition: 0.3s ease-in-out;
  z-index: -1;
}

.content-bx .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

.content-bx .nav.nav-pills .nav-link.active#react-aria1560616549-2-tab-first {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.content-bx .nav.nav-pills .nav-link.active#react-aria1560616549-2-tab-third {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.tab-pane {
  width: 85%;
  margin: 2em auto;
  letter-spacing: 0.8px;
  line-height: 1.3em;
  color: white;
}

.form-check-input:checked {
  background-color: #0d6efd !important;
  border-color: aqua !important;
}

.input-bx.col {
  color: white;
  max-width: 500px;
  margin: 2em auto;
}
.input-bx.col form input {
  border-radius: 2em;
}
.input-bx .form-control {
  background-color: aqua !important;
  color: navy !important;
  text-align: center;
}
.item-bx {
  margin-bottom: 1em;
  padding: 1em 0;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-right: solid rgb(255 255 255 / 60%);
  border-bottom: solid rgb(255 255 255 / 60%);
  border-top: solid rgb(255 255 255 / 85%);
  border-left: solid rgb(255 255 255 / 85%);
}
.input-bx .form-label {
  text-align: center;
}
.input-bx input::placeholder {
  color: navy;
  opacity: 0.5;
}
.item-bx .form-check label:hover {
  border-radius: 5px;
  color: navy;
  background-color: aqua;
}
.item-bx button {
  padding: 0 3px;
  float: right;
}
.item-bx button img {
  width: 20px;
}
